.header{
    font-size: 16px;
    background-color: var(--background-dark);
    width: 100vw;
    padding: .8rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    color: var(--font);
}
.header h1{
    font-size: 1.2em;
    font-weight: 500;
}
.header__menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 2;
}
.menu__icon{
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: var(--font);
    border-radius: 4px;
    transition: 0.5s;
}
.menu__icon.close {
    transform: rotate(45deg);
}
.close__menu .menu__hidden{
    opacity: 0;
}
.menu__icon.close:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 4px;
    background-color: var(--font);
    transform: rotate(-90deg);
}
.header__nav {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100%;
    height: 100vh;
    transition: left 0.4s;
}
.nav__active {
    left: 0;
}
.nav__active ul{
    box-shadow: -2px 0px 10px #0000004d;
}
.header__ul{
    color: var(--font-dark);
    width: 70%;
    height: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    align-items: center;
    font-size: 1rem;
}
.header__ul li{
    list-style: none;
    padding-bottom: .5rem;
    border-bottom: 1px solid black;
    width: 100%;
    padding: .6rem 1rem .2rem;
}
.header__ul .header__item--title{
    border: none;
    margin-top: .4rem;
    font-size: 1.2em;
}
@media (width > 480px ){
    .header{
        flex-direction: column;
        row-gap: 1rem;
        padding: .8rem 0 0;
    }
    .header div{
        display: none;
    }
    .header__nav{
        left: 0;
        position: static;
        height: auto;
        width: 100%;
    }
    .header__item--title{
        display: none;
    }
    .header__ul{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        flex-wrap: wrap;
        font-size: .9rem;
        padding: .5rem 3rem;
    }
    .header__ul li{
        padding: 0;
        width: auto;
        border: none;
        transition: transform 0.5s;
    }
    .header__ul li:hover{
        transform: scale(1.2);
    }
    .nav__active ul{
        box-shadow: none;
    }
}