.footer{
    background-color: var(--background-dark);
    height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__ul{
    display: flex;
    gap: 1rem;
}
.footer__ul li{
    list-style: none;
}
.footer .instagram{
    width: 20px;
    height: 20px;
    fill: var(--font);
}
.footer .tiktok{
    width: 20px;
    height: 20px;
    fill: var(--font);
}
