:root{
    --background-dark-opacity: #087b57be;
    --background-dark: #087b56;
    --background-light: #10b384;
    --font: #f0eeee;
    --font-dark: #181818;
}
html{
    font-size: 16px;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    min-height: 100dvh;
    position: relative;
}
a{
    text-decoration: none;
    color: black;
}